header {
  height: 36px;
  line-height: 36px;
  background-color: #f6f6f6;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div ul li {
  padding-left: 40px;
  list-style: none;
}
header div ul li a {
  font-size: 12px;
  text-decoration: none;
  color: #000;
  list-style: none;
  outline: none;
}
.logo {
  height: 68px;
  line-height: 68px;
}
.logo img {
  width: 84px;
  height: 34px;
}
.logo div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo div ul {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo div ul li {
  margin-left: 40px;
}
